# entornos
venv/
env/

# secretos
.env
env
.venv
# python
__pycache__/
*.pyc

# notebooks
.ipynb_checkpoints/
metadata_output*.json
node_modules

# macOS
.DS_Store

# yoda_extractor
yoda_extractor/tests-output/
yoda_extractor/controlled_vocabularies/db/
yoda_extractor/tests/datasets/
